:root{
    --vermelho:#E50914;
    --preta:#141414;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lzqev3');
    src:  url('../fonts/icomoon.eot?lzqev3#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?lzqev3') format('truetype'),
      url('../fonts/icomoon.woff?lzqev3') format('woff'),
      url('../fonts/icomoon.svg?lzqev3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transform: translateZ(0);
}

.icon-playMovie:before {
    content: "\e647";
}

.icon-leftCaret:before {
    content: '\e868';
}

.icon-rightCaret:before {
    content: '\e867';
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    overflow: hidden;
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color:white;
}

header {
    top: 0;
    position: sticky;
    background: var(--preta);
    box-shadow: 0px 0px 3px 0px #000000;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.profile .logo,
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav {
    margin-right: 20px;
}

header nav a{
    transition: all 100ms ease-in;
    text-decoration:none;
    padding: 19.5px 12px;
    color:#AAA;
}


header nav a:hover{
    color:#fff;
    background-color: black;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/capa-house.jpg');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
    border-radius: 3px;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.item, .item * {
    transition: all .1s ease-out 0s;
}

.item:hover {
    cursor: pointer;
}

.item:hover img {
    filter: brightness(0.75);
}

.item:hover::before {
    font-family: icomoon;
    position: absolute;
    content: '\e647';
    font-size: 80px;
    padding-top: calc(50% - -20px);
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;
    background-color: rgba(20,20,20,.5);
}

.carrosel-filmes{
    margin-top:10px;
    position: relative;
}

.carrosel-filmes .handle {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    width: 4%;
    text-align: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}

.carrosel-filmes .handle.active {
    cursor: pointer;
}

.carrosel-filmes .handle.handleNext {
    right: 0;
}

.carrosel-filmes:hover .handle.active:hover .indicator-icon {
    transform: scale(1.5);
}

.carrosel-filmes .handle.handleNext .indicator-icon {
    transform-origin: 45% 50%;
}

.carrosel-filmes .handle>.indicator-icon {
        display: none;
        height: auto;
        align-self: center;
        font-size: 2.5vw;
        transition: -webkit-transform .1s ease-out 0s;
        transition: transform .1s ease-out 0s;
        transition: transform .1s ease-out 0s,-webkit-transform .1s ease-out 0s,-moz-transform .1s ease-out 0s,-o-transform .1s ease-out 0s;
}

.carrosel-filmes:hover .handle {
    background: rgba(20,20,20,.5);
}

.carrosel-filmes:hover .handle.active .indicator-icon {
    display: block;
}

.carrosel-filmes:hover .handle.active:hover {
    background: rgba(20,20,20,.7);
}

.center {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile {
    display: none;
    background: var(--preta);
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 1;
}

.profile .logo {
    margin: 10px 50px;
}

.profile_list h1 {
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    text-align: center;
    margin: 28px 0;
}

.profile_list a {
    text-decoration: none;
}

.profile_list img {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.profile_list span {
    line-height: 1.2em;
    min-height: 1.8em;
    color: grey;
    display: block;
    text-align: center;
    font-size: 1.3vw;
    margin: .6em 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
}

.profile_list a:hover img {
    border-color: white;
}

.profile_list a:hover span {
    color: #e5e5e5
}

header, main, .carrosel-filmes {
    display: none;
}